* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lexend Deca';
    background-color: hsl(0, 0%, 95%);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: hsla(0, 0%, 100%, 0.75);
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
    
    height: 95vh;
    margin-top: 5px;
    
    justify-items: center;
    border-radius: 10px;
    border-color: red;

}

.perfume {
   padding: 0;
   background-image: url(img/image-product-desktop.jpg);
}

.perfume img {
    width: 20%;
    height: 70vh;
    box-sizing: border-box;
}

.text {
    background-color: aliceblue;
   
}

.perfume, .text {
    width: 20%;
    height: 70vh;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

