* {
    margin: 0;
    padding: 0;
}

body{
    
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-items: center;
    border-radius: 10px;
    border-color: red;
}

.perfume {
    display: flex;
    
    background: url(img/image-product-desktop.jpg) no-repeat center center fixed;
    background-size: cover;
}

.text {
    background-color: aliceblue;
}

